/* register.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/bg10.jpg'); /* Replace 'your-bg-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading-container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0; /* Remove margin for h1 */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 30px; /* Increased padding */
    margin-bottom: 20px; /* Increased margin bottom */
    border: 5px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: larger;
}

button[type="submit"] {
    background-color: #6e3d9a;
    color: #fff;
    cursor: pointer;
    font-size: larger;
}

button[type="submit"]:hover {
    background-color: #4a4391;
}

.alert {
    padding: 10px 20px;
    margin-bottom: 20px;
    margin: 0px;
    border-radius: 5px;
    background-color: #dff0d8; /* Green background color */
    color: #3c763d; /* Dark green text color */
    border: 1px solid #d0e9c6; /* Green border color */
}

